<div class="modal-dialog modal-lg modal-dialog-center ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
      <div>
        <h1 class="modal-title">残業申請</h1> 
        <%= form_with(model: @attendance, url: update_overwork_request_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
          <table class="table table-bordered table-striped table-condensed" id="table-attendances">
            <thead>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </thead>
            <tbody>
              <% css_class = case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
              when '土' then 'text-primary' when '日' then 'text-danger' end %>
              <td><%= l(@attendance.worked_on, format: :short) %></td>
              <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday] %></td>
              <td><%= f.time_select :scheduled_end_time, {start_hour: 00, end_hour:23, minute_step: 15}, {class: "time-box"} %></td>
              <td><%= f.check_box :next_day, id: "next_day" %></td>
              <td><%= f.text_field :business_processing_content, class: "form-control" %></td>
              <%= f.hidden_field :overwork_confirmation_status, :value => "申請中" %>
              <td><%= f.select :overwork_confirmation, options_from_collection_for_select(@superiors, :name, :name, 1), {include_blank: true}, { class: "form-control" } %></td>
            </tbody>
          </table>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block btn-user" %>
        <% end %>      
      </div>
    </div>
  </div>
</div>
